.layer {
    position: absolute;
    height: 100%;
    width: 100%;

    &[attr-type=other] {        
        animation: fade 1300ms ease-in-out;

        &[attr-slowly=true] {
            animation-duration: 4s;
        }
    }

    &[attr-visibility=slice] {
        width: 270.5%;
        height: 106.84%;

        top: -6.6%;
    }

    opacity: 1;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}