@import '../../config.scss';

.overlay {
    height: 107%; // 106.068%;
    width: 274.5%; // 270.5%;

    position: absolute;
    bottom: 0;

    z-index: 100;

    pointer-events: none;
    user-select: none;

    display: flex;
    justify-content: center;

    

}

.layers {
    width: 100%;
    overflow: auto;
    height: 100%;
    display: flex;
    justify-content: center;

    position: absolute;


    filter: saturate(100%);

    transition: $default-transition-duration filter, top linear;

    &[attr-visibility=slice] {
        width: 36.96%;
        height: 93.58%;
        overflow: hidden;

        top: 6.6%;
    }

    &[attr-blur=true] {
        filter: saturate(0%);
    }
}
