$main-card: (
    'height': 740px,
    'width': 350px
);

$second-card: (
    'height': 500px,
    'width': 240px,
    'offset': 115px
);

$third-card: (
    'height': 350px,
    'width': 120px,
    'offset': 230px
);

$fourth-card: (
    'height': 260px,
    'width': 90px,
    'offset': 340px
);

@mixin card-factory($index) {
    $main-card-width: map-get($main-card, 'width');

    @if $index <= 0 or $index >= 8 {
        height: 0;
        width: 0;

        top: calc(50%);
        @if $index <= 0 { 
            left: calc(50% - (#{$main-card-width} / 2) - 430px);

            transform: perspective(10px)  rotateY(-1deg);
        } @else {    
            left: calc(50% + (#{$main-card-width} / 2) + 430px);
    
            transform: perspective(12) rotateY(1deg);
        }
        
        z-index: 1;
    } @else {
        @if $index == 1 or $index == 7 { 
            $height: map-get($fourth-card, $key: 'height');
            $width: map-get($fourth-card, $key: 'width');
            $offset: map-get($fourth-card, $key: 'offset');

            height: $height;
            width: $width;

            top: calc(50% - #{$height / 2});
    
            @if($index == 1) {         
                left: calc(50% - (#{$main-card-width} / 2) - #{$offset + 20px});
        
                transform: perspective(12px)  rotateY(-1deg);
            }
            @else {
                left: calc(50% + (#{$main-card-width} / 2) + #{$offset - $width + 30px});
        
                transform: perspective(12px) rotateY(1deg);
            }

            z-index: 2;
        }

        @if $index == 2 or $index == 6{  
            $height: map-get($third-card, $key: 'height');
            $width: map-get($third-card, $key: 'width');
            $offset: map-get($third-card, $key: 'offset');

            height: $height;
            width: $width;

            top: calc(50% - #{$height / 2});

            @if($index == 2) {         
                left: calc(50% - (#{$main-card-width} / 2) - #{$offset + 20px});

                transform: perspective(15px)  rotateY(-1deg);
            }
            @else {
                left: calc(50% + (#{$main-card-width} / 2) + #{$offset - $width + 30px});
        
                transform: perspective(15px) rotateY(1deg);
            }
                
            z-index: 3;
        }

        @if $index == 3 or $index == 5 {   
            $height: map-get($second-card, $key: 'height');
            $width: map-get($second-card, $key: 'width');
            $offset: map-get($second-card, $key: 'offset');

            height: $height;
            width: $width;

            top: calc(50% - #{$height / 2});

            @if($index == 3) {
                left: calc(50% - (#{$main-card-width} / 2) - #{$offset});
            }
            @else {
                left: calc(50% + (#{$main-card-width} / 2) - #{$offset});
            }
            
            transform: perspective(25px)  rotateY(#{-4 + $index + deg});
            
            z-index: 4;
        }

        @if $index == 4 {
            $height: map-get($map: $main-card, $key: 'height');

            height: $height;
            width: $main-card-width;


            top: calc(50% - #{$height / 2});
            left: calc(50% - (#{$main-card-width} / 2));
    
            transform: perspective(0)  rotateY(0);

            z-index: 5;
        }

    }
}

.card {

    position: absolute;

    border: 2px solid black;

    transition: all 200ms ease;
    transition-property: height, width, left, top, transform, z-index;

    background-size: 100% 100%;
    background-image: url(https://i.pinimg.com/originals/83/f9/37/83f937b69f30bb886ab8a03390da6771.jpg);

    &:nth-child(1) {
        @include card-factory(0);
    }

    &:nth-child(2) {
        @include card-factory(1);
    }

    &:nth-child(3) {
        @include card-factory(2);
    }

    &:nth-child(4) {
        @include card-factory(3);
    }

    &:nth-child(5) {
        @include card-factory(4);
    }

    &:nth-child(6) {
        @include card-factory(5);
    }

    &:nth-child(7) {
        @include card-factory(6);
    }

    &:nth-child(8) {
        @include card-factory(7);
    }

    &:nth-child(9) {
        @include card-factory(8);
    }
}
